---
import ContentList from "@components/ContentList.astro";
import Project from "@components/Project.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout showHeader={true}>
  <ContentList collection="notes" />
  <ContentList collection="lists" />
  <ContentList collection="links" />
  <section class="mt-14">
    <h2 class="text-zinc-50 font-medium mb-2 capitalize">Projects</h2>
    <ol class="list-decimal list-inside">
      <Project link="/projects/polya/" title="Heuristics for problem solving" />
    </ol>
  </section>
</BaseLayout>
