---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className = "" } = Astro.props;
---

<details
  class={`focus:outline-none focus:ring-0 focus:ring-offset-0 ${className}`}
>
  <summary
    class="cursor-pointer hover:text-zinc-50 transition-colors focus:outline-none focus:ring-0 focus:ring-offset-0 rounded"
  >
    {title}
  </summary>
  <div class="mt-2">
    <slot />
  </div>
</details>
