---
// Header component for the site introduction area
import { AUTHOR } from "@consts";
import Link from "@components/Link.astro";
---

<header>
  <h1 class="text-zinc-50 text-5xl mb-6">{AUTHOR.name}</h1>
  <div class="flex items-start gap-6">
    <img
      src="/images/profile.jpg"
      alt={AUTHOR.name}
      class="hidden md:block w-32 h-32 rounded-lg object-cover flex-shrink-0"
    />
    <div>
      <p>
        {AUTHOR.bio}
      </p>
      <p class="mt-4">
        Find me on{" "}
        <Link href={AUTHOR.linkedin} external> LinkedIn </Link>
        .
      </p>
    </div>
  </div>
</header>
